.card {
  width: 95%;
  max-width: 550px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper > button {
  margin-bottom: 1rem;
}
